*{
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    text-decoration:underline;
    font-size: x-large;
}

.timer-input{
    background-color: ghostwhite;
}

.timer-set-button{
    font-weight: bold;
    background-color: ghostwhite;
}

button:hover{
    background-color: lightgray;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
}

#clock{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#stopwatch{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

footer {
    position:absolute;
    bottom:0;
    width:99%;
    height:5%;
    background:rgb(160, 172, 179);
 }

 .stopwatch-text {
     padding: 1%;
     text-align: center;
 }