*{
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    text-decoration:underline;
}

.timer-input{
    background-color: ghostwhite;
}

.timer-set-button{
font-weight: bold;
background-color: ghostwhite;
}

button:hover{
background-color: lightgray;
}

button:active{

}
